@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.search-bar {
	border: 2px solid lightgray;
	border-radius: 5px;
	padding: 1rem;
	margin: 10px;
	display: flex;
	gap: 8px;
	flex-direction: column;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.search-bar form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 40%;
}

input {
	height: 2rem;
	width: 50%;
  border-radius: 2px;
	padding: 0 1rem;
}

button {
  height: 2rem;
	width: 25%;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
	background-color: #128c92;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
}